.cart-container {
display: inline;
margin-top: 130px;
}


.CartComponent h1 {
    text-align: center;
    
}

.cart-outer-container {
    width: 80%;
    margin : 20px 10%;
    /* padding : 8px; */
    border: 1px solid lightgrey;
    border-radius: 8px;
    box-sizing: border-box;
}

.cart-container-heading h4, .cart-container-heading img {
    display: inline-block;
    padding : 4px 8px;
}




.cart-container-footer {
    width: 100%;
    border-top: 1px solid lightgrey;
    background-color: #F5F5F5;
    margin: 16px 0px 0px 0px;
    
}

.cart-container-button {
    padding: 8px;
    margin : auto 24px;
    display: flex;
    justify-content: space-between;
   
}